{% extends 'getaway/base.html' %}
{% load static %}


{% block content %}
<div class="form-container">

  <h3>{{ trip_event.trip.title }}</h3>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    {% if form.errors %}
      <div class="alert">
        <ul>
          {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <p>Not enough available places for this trip event. Only {{ available_places }} left.</p>
              </strong> {{ error }}
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <div class="button-wrapper">
      <p><input type="submit" class="btn btn-primary mt-2" value="Proceed to Payment"></p>
    </div>
  </form>

</div>
{% endblock %}