{% extends 'getaway/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'getaway/css/style.css' %}">

<section class="category-section">
  <div class="back-btn-container">
  <a href="javascript:history.back()" class="back-btn">← Back</a>
</div>

  <h2 class="category-heading">{{ category.name }} </h2>

  <div class="container">

    <div class="row g-4 justify-content-center">
      {% for trip in trips %}
      <div class="col-lg-4 col-md-6 col-sm-12">
        <a href="{% url 'getaway:trip_detail' trip.slug %}" class="trip-link">
          <div class="category-card" style="background-image: url('{{ trip.main_image.url }}');">
            <div class="overlay"></div>
            <h3 class="card-title">{{ trip.title }}</h3>
          </div>
        </a>
      </div>
      {% empty %}
      <p>No trips available in this category yet.</p>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
