{% extends 'getaway/base.html' %}
{% load static %}

{% block title %}Domestic Trips{% endblock %}

{% block content %}


<section class="category-section">
    <h2>Choose your adventure</h2> <!-- Intro text -->
    <div class="container-fluid py-5">  <!-- fluid to stretch full width -->
        <div class="row g-4 justify-content-center">

            <!-- City Strolls -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{% url 'getaway:category_trips' 'city-strolls' %}" class="text-decoration-none">
                    <div class="category-card" style="background-image: url('{% static "getaway/images/city.jpg" %}');">
                        <div class="overlay"></div>
                        <h5 class="card-title">City Strolls</h5>
                    </div>
                </a>
            </div>

            <!-- Nature Retreats -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{% url 'getaway:category_trips' 'nature-retreats' %}" class="text-decoration-none">
                    <div class="category-card" style="background-image: url('{% static "getaway/images/nature.jpg" %}');">
                        <div class="overlay"></div>
                        <h5 class="card-title">Nature Retreats</h5>
                    </div>
                </a>
            </div>

            <!-- Travel Abroad -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{% url 'getaway:category_trips' 'travel-abroad' %}" class="text-decoration-none">
                    <div class="category-card" style="background-image: url('{% static "getaway/images/abroad.jpg" %}');">
                        <div class="overlay"></div>
                        <h5 class="card-title">Travel Abroad</h5>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
{% endblock %}
