{% extends 'getaway/base.html' %}
{% load static %}

{% block content %}
<h1>{{ category.name }} Trips</h1>

<section class="category-section">
  <div class="container">
    <div class="row g-4 justify-content-center">
      {% for trip in trips %}
      <div class="col-lg-4 col-md-6 col-sm-12">
        <a href="{% url 'trip_detail' trip.slug %}" class="trip-link">
          <div class="category-card" style="background-image: url('{{ trip.main_image.url }}');">
            <div class="overlay"></div>
            <h5 class="card-title">{{ trip.title }}</h5>
          </div>
        </a>
      </div>
      {% empty %}
      <p>No trips available in this category yet.</p>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}

